body {
margin: 0;
    padding: 0;
    font-family: sans-serif;

  background-image: url(multimedia/logo\ v_2.png); /* Cambia por la ruta de tu imagen */
  background-size: cover;             /* Ajusta para que cubra toda la pantalla */
  background-position: center;        /* Centra la imagen */
  background-repeat: no-repeat;       /* Evita que se repita */
    background-attachment: fixed; }



main{
      background-color: rgba(74, 74, 74, 0.588); /* Fondo semitransparente para leer el texto */
    padding: 40px;
    max-width: 800px;
    margin: auto;
}


.barra{
    margin: 20px 0;
    padding: 20px;
    border: 2px solid;
    background-color: #f7921eac;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{ border-radius: 25%;
color: tan;
}
.barra ul li {
    background-color: #d07710c9;
    padding: 15px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
.mantra {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    border: 2px;
    border-radius: 10px;

}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.logo_nav {
    height: 50px;
}
----------------------------------------------------------------------------------------------------
.Texto_desc {
    list-style: circle;
    text-decoration: solid;
    font-size: 18px;
    text-align: left;
    text-decoration-color: orange;

}
.Texto_desc h2{
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: orange; 
    text-decoration: underline;

}
.Texto_desc li{
    color: orange;
}